* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* share */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #0B0223;
    --second-color: #534C64;
    --button-color: #FF42A5;
    --button-color-second: #4EC5F7;

}

/* navbar section */
.nav-section {
    padding: 0px 10rem;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.nav-logo {
    display: flex;
    align-items: center;

}

.nav-logo img {
    width: 4.5rem;
    height: 2.1rem;
}

.nav-logo h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-left: 1rem;
}

.web-name {
    color: var(--button-color);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    padding: 0rem 0.8rem;
    color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
}

.nav-icon {
    padding: 10px 8px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}

.fa-youtube {
    color: red;
    font-size: 20px;
}

/* banner section start */


.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content-background {
    background-image: url("./images/Group\ 14.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;

}

.banner-content {
    padding: 3.5rem 3rem 3.5rem 10rem;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 5.3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0.5rem 0rem;
    background-image: linear-gradient(to bottom, var(--button-color), #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.full-stop {
    width: 15px;
    height: 15px;
    background-image: linear-gradient(to bottom, var(--button-color), #8758F1 100%);
    color: transparent;
    border-radius: 50%;
    display: inline-block;
}


.banner-content p {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-transform: lowercase;
}

.banner-content img {
    width: 1.1rem;
    height: 1.1rem;
}

.btn {
    padding: 20px 40px;
    margin: 20px 10px 10px 0px;
    border-radius: 40px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.btn1 {
    background-color: var(--button-color);
}

.btn2 {
    background-color: var(--button-color-second);
}

.banner-img {
    padding-right: 10rem;
    width: 50%;
    margin-left: 20px;
}

.banner-img img {
    width: 100%;
    height: 100%;

}

/* funny video section */

.funny-video-container {
    padding: 4rem 10rem 3rem;
    text-align: center;
}

.funny-video-container h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.funny-video-container p {
    color: var(--second-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 1rem 0px;
    margin-bottom: 1rem;
}

.funny-video-title {
    background-image: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.all-funny-video {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);

}

.funny-video-card img {
    width: 100%;
    border: 4px solid var(--button-color);
    border-radius: 15px;
}


.funny-video-card p {
    color: var(--second-color);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
}

/* Play section start */
.play-container {
    display: flex;
    padding: 0px 10rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.play-content {
    width: 50%;
    text-align: right;
    padding-right: 5rem;
}

.play-content h2 {
    text-align: right;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.play-content-title {
    color: var(--button-color);
}

.play-content p {
    color: var(--second-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-images {
    width: 50%;
    text-align: end;
    position: relative;
}

.play-big-img {
    width: 80%;
    height: 450px;
    border-radius: 10px;
}

.play-small-img {
    width: 180px;
    height: 210px;
    border-radius: 10px;
    text-align: start;
    position: absolute;
    left: 0px;
    bottom: -65px;
}

/* all games section start */
.all-games-area {
    padding: 2.5rem 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.games-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--button-color);
    margin: 1.3rem 0.3rem;
    padding: 0.5rem 0.5rem;
    border-radius: 40px;
}

.games-icon img {
    width: 2.8rem;
    height: 2.8rem;
}

.games-icon h4 {
    padding-left: 0.8rem;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}

/* footer section start */
.footer-container {
    height: 450px;
    background-color: #0B0223;
    padding: 6rem;

}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-logo img {
    width: 3.5rem;
    height: 1.8rem;
}

.footer-logo h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 0.6rem;
    color: #FFF;
}

.footer-page-link {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 70%;
    display: grid;
    margin: 40px auto;
    grid-template-columns: repeat(6, 1fr);
}

.footer-social-link {
    width: 50%;
    display: grid;
    margin: 20px auto;
    text-align: center;
    grid-template-columns: repeat(6, 1fr);
    font-size: 30px;
    font-weight: 600;
}

.fa-brands {
    color: #fff;
}

.footer-Privacy {
    width: 60%;
    display: grid;
    margin: 40px auto;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    color: #bab6b6;
    font-size: 14px;
    font-weight: 500;
}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}