* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* share */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #0B0223;
    --second-color: #534C64;
    --button-color: #FF42A5;
    --button-color-second: #4EC5F7;

}

/* navbar section */
.nav-section {
    padding: 0px 10rem;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.nav-logo {
    display: flex;
    align-items: center;

}

.nav-logo img {
    width: 4.5rem;
    height: 2.1rem;
}

.nav-logo h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-left: 1rem;
}

.web-name {
    color: var(--button-color);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    padding: 0rem 0.8rem;
    color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
}

.nav-icon {
    padding: 10px 8px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}

.fa-youtube {
    color: red;
    font-size: 20px;
}

/* banner section start */


.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content-background {
    background-image: url("./images/Group\ 14.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;

}

.banner-content {
    padding: 3.5rem 3rem 3.5rem 10rem;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 5.3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0.5rem 0rem;
    background-image: linear-gradient(to bottom, var(--button-color), #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.full-stop {
    width: 15px;
    height: 15px;
    background-image: linear-gradient(to bottom, var(--button-color), #8758F1 100%);
    color: transparent;
    border-radius: 50%;
    display: inline-block;
}


.banner-content p {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-transform: lowercase;
}

.banner-content img {
    width: 1.1rem;
    height: 1.1rem;
}

.btn {
    padding: 20px 40px;
    margin: 30px 10px 0px 0px;
    border-radius: 40px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.btn1 {
    background-color: var(--button-color);
}

.btn2 {
    background-color: var(--button-color-second);
}

.banner-img {
    padding-right: 10rem;
    width: 50%;
    margin-left: 20px;
}

.banner-img img {
    width: 100%;
    height: 100%;

}

/* funny video section */

.funny-video-container {
    padding: 6rem 10rem 5rem;
    text-align: center;
}

.funny-video-container h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.funny-video-container p {
    color: var(--second-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 1rem 0px;
}

.funny-video-title {}

.all-funny-video {
    display: grid;
    gap: 1.5rem;

    grid-template-columns: repeat(4, 1fr);

}

.funny-video-card {}

.funny-video-card img {
    width: 100%;
}